{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Potafolio</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <header>
        <h1>Mi Portafolio</h1>
    </header>

    <section id="proyectos">
        <div class="proyecto">
            <img src="{% static 'img/img_1.jpeg' %}">
            <h2> Proyecto 1 </h2>
            <p> Descripcion del proyecto 1</p>
        </div>
    </section>

</body>
</html>
